<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Theme Business Frontpage    -->
<!--https://startbootstrap.com/template/business-frontpage-->
<!-- Head-->
<div th:replace="fragrams/header :: header" />
<body>
<!-- Responsive navbar-->
<div th:replace="fragrams/nav :: nav" />
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5 vh-100">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <div class="text-center my-5">
                    <h1 class="text-white" th:text = "'Order Details for Order #'+ ${submittedorder.id}"></h1>
                </div>
            </div>

            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Item Total</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr  th:each="orderdetail : ${orderdetails}">
                            <th scope="row" th:text="${orderdetail.product.getName()}"></th>
                            <th scope="row" th:text="${orderdetail.product.getDescription()}"></th>
                            <td scope="row" th:text="${orderdetail.qty}"></td>
                            <td scope="row" th:text="'$' + ${orderdetail.product.getPrice()*orderdetail.qty}"></td>
                        </tr>
                        <td th:text ="'ORDER TOTAL :   $' + ${submittedorder.totalPrice}"></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Footer-->
<div th:replace="fragrams/footer :: footer"/>

</body>
</html>
