<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<!-- Head-->
<div th:replace="fragrams/header :: header"/>
<body>
<!-- Responsive navbar-->
<div th:replace="fragrams/nav :: nav"/>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5 vh-100">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <div class="text-center my-5">
                    <h1 class="display-4 fw-bolder text-white mb-2">Employee Add & Edit</h1>
                </div>
            </div>
        </div>

        <div class="row gx-5 justify-content-center">
            <div class="col-lg-5">
                <form th:action="@{/employees/saveupdateemployee}"  autocomplete="off" method="post">
                    <div class="input-group mb-3">
                        <input type="number" name="id" class="form-control" th:placeholder = "#{employee.id}" th:field="*{employee.id}" />
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="firstName" class="form-control" placeholder="Employee First Name"  th:field="*{employee.firstName}" />
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="lastName" class="form-control" placeholder="Employee Last Name" th:field="*{employee.lastName}" />
                    </div>
                    <div class="input-group mb-3">
                        <input type="date" name="startDate" class="form-control" placeholder="Start Date" th:field="*{employee.startDate}">
                    </div>
                    <div class="input-group mb-3">
                        <input type="date" name="termDate" class="form-control" placeholder="Termination Date" th:field="*{employee.termDate}">
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>